<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Document</title>
    <style>
        img {
            width: 200px;
        }
    </style>
</head>

<body>
    <!-- 渲染資料區域 -->
    <div id="app">
        <ul>
            <li>{{arr1[0]}}</li>
            <li>{{arr1[1]}}</li>
            <li>{{arr1[2]}}</li>
            <li>{{arr1[3]}}</li>
        </ul>
        <hr>
        <ul>
            <!-- 把arr1每一筆紀錄給a 再把a叫出來 -->
            <li v-for="a in arr1">{{a}}</li>
        </ul>

        <div>
            <img v-for="y in arr2" v-bind:src="y" alt="">
            <img v-for="y in arr2" :src="y" alt="">
        </div>
        

    </div>

    <!-- vue cdn -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            // data可以是自行更改的詞，但實務上要有意義
            data(){
                return {
                    arr1: ['html', 'css', 'js', 'react'],
                    arr2: ['/public/images2/p1.jpg','/public/images2/p2.jpg','/public/images2/p3.jpg']
                }
            }
        })
        app.mount('#app')
    </script>
</body>

</html>